<div class="divContainer">
  <div class="divInicio">
    <h1 class="titleDefault">Administradores</h1>
    <span>Gerencie acesso de administradores na plataforma</span>
  </div>
  <div class="divSearch">
    <div class="searchComplete">
      <div class="allSearch">
        <mat-icon class="iconSearchDefault">search</mat-icon>
        <input class="inputSearchDefault" type="text" placeholder="Pesquise por nome, telefone ou e-mail" />
      </div>
      <button class="buttonSearchDefault">
        Buscar
      </button>
    </div>

    <div class="otherButtons">
      <button class="addButtonDefault"><span>+</span> Adicionar usuário</button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8" id="tableDefault">

    <!-- Coluna: Nome -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nome"> Nome <mat-icon class="iconSort">sort_by_alpha</mat-icon></th>
      <td mat-cell *matCellDef="let element" class="tdFlex">
        <div class="logoEmpresasTable">
          <mat-icon>person</mat-icon>
        </div>
        {{element.nome}}
      </td>
    </ng-container>

    <!-- Coluna: Telefone -->
    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by telefone"> Telefone </th>
      <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
    </ng-container>

    <!-- Coluna: E-mail -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Coluna: Ações -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by acoes"> Ações </th>
      <td mat-cell *matCellDef="let element" class="tdFlex">
        <button class="btnAction">
          <mat-icon class="iconAction">edit</mat-icon>
        </button>
        <button class="btnAction">
          <mat-icon class="iconAction">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator id="paginatorDefault" class="paginator" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
