*{
    margin: 0;
    padding: 0;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.divContainer {
  position: absolute;
  min-width: 95vw;
  min-height: 88vh;
  top: 12vh;
  left: 5vw;
}

.divInicio {
  background: #1B499B;
  color: #fff;
  height: 10rem;
  text-align: center;
}
