<div class="divContainer">
  <div class="divInicio">
    <h1 class="titleDefault">Relatórios</h1>
    <span>Extraia relatório de empresas de acordo com sua necessidade</span>
  </div>
  <div class="divSearch">
    <div class="searchComplete">
      <div class="allSearch">
        <mat-icon class="iconSearchDefault">search</mat-icon>
        <input class="inputSearchDefault" type="text" placeholder="Pesquise por nome ou descrição" />
      </div>
      <button class="buttonSearchDefault">
        Buscar
      </button>
    </div>

    <div class="otherButtons">
      <button class="addButtonDefault"><span>+</span> Gerar novo relatório</button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8" id="tableDefault">

    <!-- Coluna: Nome -->
    <ng-container matColumnDef="nome">
      <th class="coluna-nome" mat-header-cell *matHeaderCellDef> Nome </th>
      <td class="coluna-nome" mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Coluna: Descrição -->
    <ng-container matColumnDef="desc">
      <th class="coluna-desc" mat-header-cell *matHeaderCellDef> Descrição </th>
      <td class="coluna-desc" mat-cell *matCellDef="let element"> {{element.desc}} </td>
    </ng-container>

    <!-- Coluna: Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Coluna: Error -->
    <ng-container matColumnDef="error" class="error">
      <th class="coluna-error" mat-header-cell *matHeaderCellDef> Error </th>
      <td class="coluna-error" mat-cell *matCellDef="let element">{{element.error}}</td>
    </ng-container>

    <!-- Coluna: Data Criação -->
    <ng-container matColumnDef="dataCriacao">
      <th class="coluna-criacao" mat-header-cell *matHeaderCellDef> Data de Criação </th>
      <td class="coluna-criacao" mat-cell *matCellDef="let element">{{element.dataCriacao}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator id="paginatorDefault" class="paginator" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
