<div class="divContainer">
  <div class="divInicio">
    <h1 class="titleDefault">Comunicação</h1>
    <span>Informe os novos usuários sobre novas funcionalidades e melhorias da plataforma</span>
  </div>
  <div class="divSearch">
    <div class="searchComplete">
      <div class="allSearch">
        <mat-icon class="iconSearchDefault">search</mat-icon>
        <input class="inputSearchDefault" type="text" placeholder="Pesquise por nome, função ou ID" />
      </div>
      <button class="buttonSearchDefault">
        Buscar
      </button>
    </div>
    <div class="otherButtons">
      <button class="addButtonDefault"><span>+</span> Gerar novo relatório</button>
    </div>
  </div>
</div>
