<div class="divContainer">
  <div class="divInicio">
    <h1 class="titleDefault">Dashboard</h1>
    <span>Aqui conseguimos ter uma visualização geral de nossos dados</span>
  </div>
  <div class="cards">
    <div class="cardItem">
      <span class="cardTitle">10k</span>
      <span class="cardSpan">Empresas ativas</span>
    </div>
    <div class="cardItem">
      <span class="cardTitle">400</span>
      <span class="cardSpan">Empresas inativas</span>
    </div>
    <div class="cardItem">
      <span class="cardTitle">1,1M</span>
      <span class="cardSpan">Relatórios</span>
    </div>
    <div class="cardItem">
      <span class="cardTitle">20M</span>
      <span class="cardSpan">Novos colaboradores</span>
    </div>
    <div class="cardItem">
      <span class="cardTitle">2k</span>
      <span class="cardSpan">Contratos</span>
    </div>
  </div>
</div>
