.headerNav {
  height: 12vh;
  width: 100%;
  background-color: #004BA0;
  color: #FFF;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.btnHamb{
  background: none;
  border: none;
  margin-left: 1rem;
}

.iconHamb {
  color: #fff;
  transform: scale(1.2);
}

.container {
  display: flex;
  padding-left: 4rem;
}

.navbar-brand {
  margin: 0 3rem 0 -7rem;
  display: flex;
  align-items: center;
}

.logoAdm, .logoLugar {
  padding: 0 .2rem;
}

.logoAdm {
  font-family: 'Lily Script One', cursive;
  color: #FFB300;
  font-size: 2rem;
}

.logoLugar {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
}

.imgLogo{
  width: 1.3rem;
  fill: #fff;
  margin: 0 1rem;
}

.divInput {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#navInput{
  width: 30rem;
  background: none;
  padding: 12px 0px 12px 6px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

#navInput::placeholder{
  color: #fff;
  opacity: 0.6;
}

.divUser {
  display: flex;
  margin-left: 5rem;
  height: 3.5rem;
  width: 15rem;
}

.infoUser{
  float: left;
  width: 70%;
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: .6rem;
}

.infoUser span{
  font-weight: 400;
}

.infoUser p {
  font-size: .7rem;
  font-weight: 400;
}

.iconUser {
  float: right;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconUser span {
  border-radius: 50%;
  background: #80A5CF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 1;
  height: 3.3rem;
  width: 3.3rem;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
