<header>
  <nav
    class="headerNav navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
  >
    <button class="btnHamb">
      <mat-icon class="iconHamb">menu</mat-icon>
    </button>
    <div class="container">

      <a class="navbar-brand" [routerLink]="['/']">
        <span class="logoLugar">LUGARH</span>
        <span class="logoAdm">Adm</span>
        <img class="imgLogo" src="/assets/images/lugar.png" />
      </a>

      <div class="divInput">
        <mat-icon class="iconSearch">search</mat-icon>
        <input id="navInput" placeholder="Procure por nome, função ou número do documento…" />
      </div>

    </div>
  </nav>
</header>
